body {
  background-color: $primary-color;
}

.container {
  padding: 15px;
}

.nav {
	background-color: $secondary-color;
	text-align: center;
	position: sticky;
	top: 0;
	clear: both;
	z-index: 3;
	padding: 4%;
	width: 100%;
	}

.nav_ul {
	padding-top: 1%;
	padding-bottom: 1%;
	list-style-type: none;
	margin-left: 0%;
}

.nav_ul_li {
	display: inline;
}

.nav_ul_li a:link, .nav_ul_li a:active {
	text-decoration: none;
	margin: 1% 4% 1% 4%;
	justify-content: space-around;
}

.nav_ul li a:hover {
	border-bottom: 7px $seventh-color dotted;
}

.main {
	padding-left: 2%;
	display: flex;
}

.aside_img {
	width: 80%;
  margin: auto;
}

.footer {
  background-color: $secondary-color;
}

@media (min-width: 675px) {
  body {
    background-color: $sixth-color;
  }
}
@media (min-width: 999px) {
  body {
    background-color: $fourth-color;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: $fifth-color;
  }
}
